body{
    background-image: url(../TIMI/Fondos/FondoInicio.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 1920px;
    height: 2142.5px;
}

.barrasuperiorbotonespi{
    display: flex;
    justify-content: space-between;
    background-color: white;
    width: 1920px;
    height: 12vh;
    
}
.LogIn{
    height: 12vh;
}
.LineaBarraBotones{
    display: flex;
    width: 1920px;
    height: 0.3vh;
    background-color: black;
   
}
