body{
    width: auto;
    height: 2142.5px;
    margin:0%;
    background-image: url(../TIMI/Fondos/FondoInicio.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.barrasuperiorbotonespi{
    display: flex;
    justify-content: space-between;
    background-color: white;
    width: 100%;
    height: 15vh;
    align-items: center;
}
.LogIn{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 2vw;
    width: 15vw;
}
.LineaBarraBotones{
    display: flex;
    width: 100%;
    height: 0.3vh;
    background-color: black;
   
}
.Logo{
    width: 13vw;
    height: 10vh;
    background-image: url(../TIMI/Fondos/Logo\ y\ titulo.png);
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 2vw;
}
.BarraBotones{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 60vw;
    height: 100%;
}
.BotonInicio{
    width: 6vw;
    height: 5vh;
    font-size: 230%;
}
.BotonResumenes{
    width: 12vw;
    height: 6vh;
    font-size: 230%;
}
.BotonForos{
    width: 6vw;
    height: 5vh;
    font-size: 230%;
}
.BotonIntercambios{
    width: 12vw;
    height: 5vh;
    font-size: 230%;
}
.BotonObjetosPerdidos{
    width: 15vw;
    height: 5vh;
    font-size: 230%;
}
.BotonLogIn{
    width: 14vw;
    height: 7vh;
    font-size: 230%;
    border-radius: 3vh;
}