
.center {
    height: 90%;
    width: 100%;
    display: flex;
    justify-content: center;

}

.align {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.whiteBackground {
    background-color: #E0E0E0 !important;
}

.handle {
    height: 55%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.trashCan {
    scale: 0.6;
    margin-left: 5%;
}

.topDiv {
    height: 20%;
    width: 85%;
    display: flex;
    align-items: center;
}

.recipiente {
    margin-top: 2.5%;
    height: 87.5%;
    width: 80%;
    border-radius: 30px;
    background: #E0E0E0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);

}


#titulo {
    height: 50%;
    margin-left: 6.5%;
    width: 82.5%;
    border-radius: 15px;
    border: 3px solid #000;
    background: #FFF;

    color: #3d3535;
    font-family: K2D;
    font-size: x-large;
    font-style: normal;
    font-weight: 10 !important;
    line-height: normal;
    padding-left: 2.5%;

}

#back1 {
    margin-right: 2.5%;
    margin-left: 2.5%;
    scale: 0.7;
}

#descripcion {
    padding-top: 1%;
    height: 50%;
    width: 80%;
    border-radius: 10px;
    font-size: medium;
    display: flex;
    flex-direction: column; 
    justify-content: flex-start;
    white-space: pre-wrap; 
    word-wrap: break-word;
}

#text {
    padding-left: 2%;
    font-weight: 100;
    font-size: 1em;
}

#warning {
    appearance: none;
    height: 12.5%;
    width: 65%;
    margin-top: 2.5%;
    background-color: red;
    border: 1px solid black;
    border-radius: 20px;
    font-size: larger;
    display: flex;
    align-items: center;
}

#publish {
    height: 22.5%;
    width: 35%;
    margin-top: 2.5%;
    border-radius: 25px;
}

#publish:active {
    transform: scale(0.9);
}

#uploadedFile {
    display: flex;
    flex-direction: row;
    justify-content: center;
    transition: 3s;
}

#nombre {
    margin-top: -5%;
}
 
#drop-area {
    width: 20%;
    height: 20%;
    border: black;
    border-radius: 50px;
    background-color: #007BFF;
    display: flex;    
    justify-content: center;
    align-items: center;
    transition: 0.2s ease;
}

#drop-area.drag-over {
    transform: scale(1.2);
}

.greenText {
    color: rgb(18, 136, 18);
}