.center {
    display:  flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 45%;
}

.body {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.body img {
    background-image: url(../../img/Registrarse-Fondo.svg);
    background-position: center;
    background-size: cover;
}

.column {
    display: flex;
    flex-direction: column;
}

.data {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 50%;
}

.bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 30%;
    width: 100%;
}

.size {
    width: 100% !important;
    border-radius: 10px !important;
}

.top {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20%;
    width: 100%;
    margin-top: 2.5%;
}

#body {
    height: 65%;
    width: 67.5%;
    background: linear-gradient(180deg, #D9D9D9 0%, #EEE 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    box-shadow: 6px 5px 2px rgba(0, 0, 0, 0.3);
}

#register {
    width: 50%;
    height: 40%;
    background-color: #007BFF;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.2s ease;
}
#register:hover {
    scale: 1.1;
}
#register:active {
    scale: 0.9;
}

#titulo {
    font-size: 2.5rem;
}